*{
	border:solid 0px red;
}
a{
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: bolder;
}

nav ul{
	padding: 0;
	margin: 0;
	text-align: left;
}

nav ul li{
	display: inline;
	padding: 10px;
}

body{
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	background-color: #ccc;
}

section{
	width: calc(80% - 60px);
	float: left;
	padding: 15px;
}

article{
	padding: 15px;
	background-color: #999988;
}

aside{
	width: 20%;
	float: left;
	position: absolute;
	right: 0px;
}

footer{
	clear: both;
	text-align: center;
	padding: 5px;
	font-weight: bold;
}

/*** Media queries ***/
@media (max-width: 1024px) {
	section{ width: calc(70% - 60px); }
	aside{ display: none;}
}
@media (max-width: 700px) {
	section{ width: calc(100% - 60px); }
	aside{ display: none; }
}
@media (max-width: 500px) {
  	section{ width: 100%; padding: 10px 0; }
	nav ul li{ display: block; border-bottom: solid 1px skyblue; border-top: solid 1px skyblue; }
	nav ul li:hover a{ cursor: pointer; color: rgba(255,255,255,1);
	}
	aside{display: none;}
}